/*
  BY: AMOR KUMAR
  
  
  COLORS:
  
  BLUE:      #69C3EA;
  ORANGE:    #F99654;
  PURPLE:    #9C80CC;
  RED:       #ED6A5A;
  GREEN:     #7ABC84;
  
  WHITE:     #F9F9F9;
  GRAY:      #F2F2F2;

*/

@-moz-document domain(reddit.com) {
  
  body {
    background-color: #F9F9F9 !important;
    color: #30292F !important;
  }
  
  /* HEADER 
  */
  
  body.with-listing-chooser #header .pagename {
    position: relative;
    bottom: 0px;
  }
  #header {
    background-color: #F9F9F9;
    max-width: 900px !important;
    margin: 0 auto;
    border-bottom: 1px solid #69C3EA;
  }
  #header-img.default-header {
    display: none !important;
  }
  #sr-header-area {
    background-color: #F9F9F9;
    height: 22px;
    border-bottom: none;
    margin-bottom: 22px;
  }
  .tabmenu li a {
    background-color: #F9F9F9;
  }
  .tabmenu li.selected a {
    background-color: #F9F9F9;
    border-color: #69C3EA;
    border-bottom-color: #F9F9F9;
  }
  #header-bottom-right {
    background-color: #F9F9F9;
  }
  .user .userkarma {
    color: #F99654;
  }
  
  /* SUBREDDIT DROPDOWN, BY DATE DROPDOWN 
  */
  
  .drop-choices a.choice:hover {
    background-color: #F2F2F2 !important;
  }
  #sr-header-area .drop-choices.srdrop,
  .drop-choices {
    background-color: #F9F9F9;
    border: 1px solid #69C3EA;
  }
  
  /* TOP INFO BOXES 
  */
  
  /* LIVE THREAD BOX */
  .happening-now-wrap .rank-spacer, .happening-now-wrap .midcol-spacer {
    display: none;
  }
  .happening-now-wrap .midcol-spacer {
    display: none;
  }
  .happening-now-logo {
    display: none;
  }
  .happening-now {
    background-color: #F9F9F9;
    border: 1px solid #84CC8F;
    color: #7ABC84;
  }
  .happening-now .state::before {
    background: #ED6A5A;
  }
  /* INFOBAR */
  .reddit-infobar.with-icon {
    background-color: #F9F9F9;
    border: 1px solid #ED6A5A;
  }
  .archived-infobar.with-icon::before {
    display: none;
  }
  .reddit-infobar.with-icon {
    padding: 5px;
    min-height: 5px !important;
  }
  .reddit-infobar .md {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
  }
  .reddit-infobar .md p {
    margin: 0;
    color: #ED6A5A;
  }
  
  /* CONTENT 
  */
  
  .content {
    max-width: 900px !important;
    margin: 10px auto !important;
    padding: 5px 20px;
  }
  
  /* POSTS 
  */
  
  .midcol {
    margin-left: 0px;
  }
  .link .rank {
    display: none;
  }
  .nsfw-stamp {
    color: #ED6A5A;
  }
  .md code, .md pre {
    background-color: #F2F2F2;
    border: 1px solid #F0F0F0;
  }
  .thing.stickied.link a.title {
    color: #7ABC84;
  }

  /* LINKS 
  */
  
  .link {
    margin: 20px auto !important;
  }
  a {
    color: #69C3EA;
  }
  .midcol {
    margin-top: 5px;
  }
  .thumbnail {
    margin-top: 5px;
  }
  .md a {
    color: #69C3EA;
  }
  #sr-header-area .selected a {
    color: #F99654;
  }
  .tabmenu li.selected a {
    color: #F99654;
  }
  .flat-list li.selected a {
    color: #F99654;
  }
  .thing .title {
    color: #69C3EA;
  }
  .thing .title:visited {
    color: #9C80CC;
  }
  .expando-button {
    display: none;
  }
  
  /* USERNAME COLOR ON LINKS AND COMMENTS 
  */
  
  .tagline a, .search-result-meta a {
    color: #F99654;
  }
  /* OP USERNAME COLOR */
  .author a, .moderator a {
    color: #7ABC84 !important;
    background-color: #F9F9F9 !important;
  }
  
  /* COMMENT PAGE 
  */
  
  .entry {
    padding-left: 5px;
  }
  .link .usertext-body .md {
    border-radius: 0px;
  }
  .thing .tagline .author.moderator {
    background-color: #7ABC84 !important;
  }
  .thing .tagline .author.moderator:hover {
    background-color: #F9F9F9 !important;
    color: #7ABC84 !important;
  }
  .comment .expand {
    color: #222222;
  }
  .tagline .stickied-tagline, .search-result-meta .stickied-tagline {
    color: #7abc84;
  }
  .link .usertext-body .md {
    border: none;
  }
  .panestack-title {
    border-bottom: none;
  }
  textarea {
    background-color: #F9F9F9;
    color: #30292F;
    border: 1px solid #5F99CF;
  }
  .morecomments a {
    color: #69C3EA;
  }
  
  /* MESSAGES 
  */
  
  .menuarea {
    border-bottom: 1px solid #F2F2F2;
  }
  .message .tagline, .message .search-result-meta {
    color: #7ABC84;
  }
  .roundfield {
    background-color: #F2F2F2;
  }
  
  /* SUBMIT PAGE
  */
  
  .tabmenu.formtab .selected a {
    background-color: #5F99CF !important;
  }
  .formtabs-content {
    border-top: 2px solid #5F99CF !important;;
  }
  
  /* OTHER 
  */
  
  .error {
    color: #ED6A5A;
  }
  .searchpane {
    margin: 5px auto;
    padding: 20px;
    background: #F9F9F9;
    background-image: none;
    border: 1px solid #5F99CF;
  }
  .raisedbox h4 {
    text-align: center;
  }
  #search input[type="text"] {
    width: 100%;
    border: 1px solid #5F99CF;
  }
  .infobar {
    background-color: #F9F9F9;
    border: 1px solid #F99654;
    margin: 0 auto;
    margin-bottom: 22px;
  }
  .nextprev a, 
  .next-suggestions a {
    background: #F9F9F9 !important;
  }
  .nextprev a:hover, 
  .next-suggestions a:hover {
    border: 1px solid #69C3EA !important;
  }
  /* SUBSCRIBE BUTTONS */
  .fancy-toggle-button .add {
    background-image: none;
    background-color: #7ABC84;
  }
  
  /* RES FEATURES */
  /* HEADER */
  #srList {
    background-color: #F9F9F9;
    border: 1px solid #69C3EA;
  }
  table#srList {
    border-collapse: separate !important;
  }
  #srList tr:hover {
    background-color: #F2F2F2 !important;
  }
  #sr-header-area a.RESShortcutsCurrentSub, #RESSubredditGroupDropdown .RESShortcutsCurrentSub a {
    color: #F99654 !important;
  }
  #userbarToggle {
    background-color: #F9F9F9;
    border: none;
  }
  /* POSTS */
  .expando-button {
    display: none !important;
  }
  .NERPageMarker {
    background-color: #F2F2F2 !important;
  }
  #progressIndicator {
    background-color: #F2F2F2 !important;
  }
  /* COMMENT PAGE */
  .RES-keyNav-activeElement, .RES-keyNav-activeElement .md-container {
    background-color: #F2F2F2 !important;
  }
  .RESSubscriptionButton {
    background-color: #F9F9F9;
    border: 1px solid #69C3EA;
    color: #222;
  }
  .RESSubscriptionButton .res-icon {
    display: none;
  }
  .newComments {
    color: #F99654;
  }
  /* POPUPS */
  .RESHover, .RESHover.RESDialogSmall {
    background-color: #F9F9F9;
    border: 1px solid #69C3EA;
  }
  .RESHoverTitle {
    background-color: #F9F9F9 !important;
  }
  /* RES DISABLED FEATURES */
  #RESShortcutsEditContainer {
    display: none;
  }
  
  /* DISABLED FEATURES 
  */
  
  /* MULTI HOVER */
  .hover-bubble.multi-selector {
    display: none !important;
  }
  /* SIMPLIFY TOP BAR */
  .sr-list > span:nth-child(2), 
  ul.sr-bar:nth-child(3),
  #sr-more-link {
    display: none;
  }
  /* TOP AD */
  .organic-listing {
    display: none;
  }
  /* SIDEBAR */
  .side {
    display: none;
  }
  /* FOOTER */
  .footer-parent, 
  .debuginfo {
    display: none;
  }
  /* MULTIREDDIT BAR */
  body.with-listing-chooser.listing-chooser-collapsed .listing-chooser {
    display: none;
  }
}
